<select name="options.[% opts.name %]" multiple>
 [% FOREACH val = opts.values %]
 [% IF opts.val_accessor %]
 [% opt_id = val.${opts.val_accessor} %]
 [% ELSE %]
 [% opt_id = val %]
 [% END %]
 <option value="[% opt_id %]" [% IF opt_id == opts.value %]selected="selected"[% END %]>[% val %]</option>
 [% END %]
</select>