<select name="options.[% opts.name %]">
 [% FOREACH val = opts.values %]
 [% opt_id = val.${opts.val_accessor} %]
 <option value="[% opt_id %]" [% IF opt_id == opts.value %]selected="selected"[% END %]>[% val %]</option>
 [% END %]
</select>