[% SET url = context.url %]
<h1>[% c.loc('Edit URL') %]</h1>
<fieldset>
 [% input_checkbox({ label => 'Active', name => 'active', value => url.active }) %]
 <div class="submit">
   <input type="submit" value="[% c.loc('Submit') %]">
 </div>
</fieldset>
